.branchs{
  margin: 1% 0 0 1%;
  padding: 0 2% 2% 2%;
  font-family: Montserrat-SemiBold;
}

.branchs span {
  cursor: pointer;
}

.PlaceIssue::before{
  content: "- "
}

.OblastiHide{
display: none;
}

.CityHide{
display: none;
}

.selectedRaion{
  text-decoration: underline;
  color: brown;
}

.selectedRaionNull{
  text-decoration: none;
  color: black;
}

.Placemargin1{
  margin-left: 4%;
  font-size: 14px;

}
.Placemargin2{
  margin-left: 4%;
  font-size: 14px;
  margin-bottom: 1%;
}
.Placemargin3{
  margin-left: 8%;
  font-size: 14px;
  margin-bottom: 1%;
}
.PlacemarginHide{
  display: none;
}

.branchs_input{
  display: flex;
  flex-direction: column;
  margin: 1% 0 0 1%;
  padding: 0 2% 2% 2%;
  font-family: Montserrat-SemiBold;
}

.input_addYzel{
  height: calc(1.8rem + 2px);
  padding: 0.375rem 0.75rem;
  width: 40%;
  font-size: 12px;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


