.branchs{
  margin: 1% 0 0 1%;
  padding: 0 2% 2% 2%;
  font-family: Montserrat-SemiBold;
}

.branchs span {
  cursor: pointer;
}
.branchs span.branchs__span__cursor_default{
  cursor:default;
}


.selectedRaion{
  text-decoration: underline;
  color: brown;
}

.selectedRaionNull{
  text-decoration: none;
  color: black;
}

.Placemargin1{
  margin-left: 4%;
  font-size: 14px;

}

.PlacemarginHide{
  display: none;
}

.branchs_input{
  display: flex;
  flex-direction: column;
  margin: 1% 0 0 1%;
  padding: 0 2% 2% 2%;
  font-family: Montserrat-SemiBold;
}

.input_addYzel{
  height: calc(1.8rem + 2px);
  padding: 0.375rem 0.75rem;
  width: 40%;
  font-size: 12px;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input_openIditYzel{
  margin-left: 1%;
}

.BranchsAdd_button{
  background-color:rgba(218, 173, 83, 0.746);
  width: 10%;
  border-radius: 8px;
  margin-top: 0.5%;
  text-align: center;
  transition: 50ms;
  font-size: 14px;
}

.BranchsAdd_button:active{
  box-shadow:0px 0px 2px 1px black;
  opacity: 1;
  transition: 50ms;
}


