.user_page{
  display: flex;
  flex-direction: column;
}



.header_UserPage {
  display: flex;
  flex-direction: row;
  width: 100%;
 /* background-image: url('../img/fon3.jpg');*/
  
  box-shadow: inset 100px 50px 50px 100px rgba(168, 165, 165, 0.1);
  background-size: 100%;
  
}

/*.Header_personal {
  width: 100%;
  background-image: url('../img/fon1.jpg');
  box-shadow: inset 100px 50px 50px 100px rgba(168, 165, 165, 0.3);
 background-color:rgb(150,170,255);
  box-shadow: inset 100px 50px 50px 100px rgba(168, 165, 165, 0.9);
  background-size: 100%;
  
}*/

.ICON{
  margin-top: 2px;
  margin-left: 1%;
  margin-bottom: 0.5%;;
  animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function:cubic-bezier(0.5, 0.5, 0.165, 1); /*infinity*/
    width: 7%;
  /* border: 1px solid red; */
}
/*
@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}*/

.Header__nav {
  font-family: Noto sans;
  margin-right: 1%;
  margin-top:2px;

  cursor:default;
 /* border: 1px solid blue;*/

}

.Header__exit{
  font-size: 4px;
  font-weight: bold;
  transition-duration: 200ms;
  text-decoration: underline;
  margin-top: 10%;
  width: 20%;
  float: right;
  /* border: 1px solid blue;*/
}

.Header__exit:hover{
  cursor:pointer;
  letter-spacing: 0.025em;
  transition-duration: 200ms;
  color: rgba(12, 12, 12, 0.9);

}

.Header__nameUser{
  font-size: 4px;
  font-weight: bold;
}

.Header__ruleUser{
  display: flex ;
  font-size: 3px;
  font-weight:300;
}

.spravka {
  width: 14px;
  height: 14px;
}

.Header__text {
  position: relative;
  width: 130px;
  text-align: center;
  margin: 0 auto;
  font-size: 11px;
  font-family: Montserrat-SemiBold;
  cursor:default;
 /* border: 1px solid yellow;*/
}



@media screen and (min-width: 320px) {

.Header__text{
  font-size: 12px;
  width: 150px;
}

  .Header__nameUser{
    font-size: 7px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 6px;
    font-weight:300;
  }

  .Header__exit{
  font-size: 7px;
  }
  .ICON{
    width: 14%;
  }
  .spravka {
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 384px) {
  .Header__text{
    font-size: 13px;
    width: 160px;
  }

  .Header__nameUser{
    font-size: 8px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 7px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 8px;
    }
    .ICON{
      width: 14%;
    }
    .spravka {
      width: 10px;
      height: 10px;
    }

}

@media screen and (min-width: 448px) {
  .Header__text{
    font-size: 10px;
    width: 120px;
  }

  .Header__nameUser{
    font-size: 8px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 7px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 8px;
    }
    .ICON{
      width: 12%;
    }
    .spravka {
      width: 10px;
      height: 10px;
    }
}

@media screen and (min-width: 615px) {
  .Header__text{
    font-size: 14px;
    width: 25%;
  }

  .Header__nameUser{
    font-size: 10px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 9px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 10px;
    }
  .ICON{
    width: 10%;
  }
  .spravka {
    width: 10px;
    height: 10px;
  }
}

@media screen and (min-width: 720px) {
  .Header__text{
    font-size: 18px;
    width: 30%;
  }

  .Header__nameUser{
    font-size: 10px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 9px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 10px;
    }

    .spravka {
      width: 12px;
      height: 12px;
    }
}

@media screen and (min-width: 820px) {
  .Header__text{
    font-size: 20px;
    width: 30%;
  }

  .Header__nameUser{
    font-size: 12px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 10px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 11px;
    }
    .ICON {
      width: 8%;
    }
    .spravka {
      width: 12px;
      height: 12px;
    }
}

@media screen and (min-width: 992px) {
  .Header__text{
    font-size: 22px;
    width: 300px;
  }

  .Header__nameUser{
    font-size: 14px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 12px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 13px;
    }
    .spravka {
      width: 14px;
      height: 14px;
    }

}

@media screen and (min-width: 1200px) {
  .Header__text{
    font-size: 26px;
    width: 350px;
  }

  .Header__nameUser{
    font-size: 15px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 12px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 13px;
    }
    .ICON {
      width: 7%;
    }
}

@media screen and (min-width: 1400px) {
  .Header__text{
    font-size: 30px;
    width: 350px;
  }

  .Header__nameUser{
    font-size: 16px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 12px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 14px;
    }
}

@media screen and (min-width: 1780px) {
  .Header__text{
    font-size: 34px;
    width: 400px;
  }

  .Header__nameUser{
    font-size: 18px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 16px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 17px;
    }
    .spravka {
      width: 20px;
      height: 20px;
    }
}

@media screen and (min-width: 2000px) {
  .Header__text{
    font-size: 38px;
    width: 450px;
  }

  .Header__nameUser{
    font-size: 20px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 18px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 19px;
    }
    .ICON{
      width: 7%;
    }
}

@media screen and (min-width: 2500px) {
  .Header__text{
    font-size: 38px;
    width: 450px;
  }

  .Header__nameUser{
    font-size: 22px;
    font-weight: bold;
  }
  
  .Header__ruleUser{
    font-size: 20px;
    font-weight:300;
  }

  .Header__exit{
    font-size: 21px;
    }
    .ICON{
      width: 6%;
    }
    .spravka {
      width: 24px;
      height: 24px;
    }
}