.LogPassUser{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 0 3%;
  margin: 0;
}

.LogPassUser__div1{
  display: flex;
  flex-direction: column;

}

.LogPassUser__div2{
  border-left: 1px solid rgba(194, 194, 194, 0.764);
  width: 60%;
  margin-left: 5%;
}

.LogPassUser_container{
  display: flex;
  flex-direction: row;
}

.LogPassUser_input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: calc(1.8rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1%;
}

.LogPassUser_select{
  outline: auto;
  width: 80%;
  outline-color: #bdbdba;
  height: calc(1.8rem + 2px);
  padding: 0.2rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1%;
}

.LogPassUser_button{
  background-color:rgba(218, 173, 83, 0.746);
  width: 15%;
  border-radius: 8px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  transition: 50ms;
}

.LogPassUser_button:active {
  box-shadow:0px 0px 2px 1px black;
    opacity: 1;
    transition: 50ms;
}
 
