.adminpersonalCard{
  display: flex;
  flex-direction: column;

}

.adminPersonalCard_main {
  display: flex;
  flex-direction: row;
 
 /* background-color:black;*/
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 2rem;
  background-color:rgb(0, 0, 0,0.5);
	
  background-attachment:none ;

  &.hide{
    display: none;
  }
}

.admincancel{
  color: rgb(192,19,39);
  margin-top: 1%;
  margin-left: 4%;
  cursor: pointer;
  width: 2%;
  font-family: Montserrat-SemiBold;
}

.admindiv_1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 50%;
  background-color:rgb(83,159,97);
  background-color:rgb(0, 0, 0);
  background-color:rgb(218, 173, 83);
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: -3%;
  margin-top: 1%;
  border-radius: 50px;
}

.admindiv1_avatar_fio{
  display: flex;
  flex-direction: column;
  justify-content:space-between
}

.admindiv_1__Avatar{
  border: 1px solid white;
  margin: 0 auto ;
 /* width: 23.3mm;
  height: 31mm;*/
  width: 46.6mm;
  height: 62mm;
  object-fit: cover;
}

.admindiv_1__FIO{
  color: White;
  text-align: center;
  font-family: Montserrat-SemiBold;
  font-size: 16px;
}

.admindiv_1__bilet{
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  text-align: center;
  font-family: Montserrat-SemiBold;
  text-decoration: underline;
  margin-left: 10%;
  margin-bottom: 1.5%;
}

.admindiv_1__bilet span {
  cursor: pointer;
  transition: 200ms;
}

.admindiv_1__bilet span:hover{
  transition: 200ms;
  font-size: 16px;
}

.admindiv_2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 50%;
  background-color:rgb(83,159,97);
  background-color:rgb(218, 173, 83);
   background-color:black; 
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-radius: 50px;
  margin: 1% 5% 3% -3%;
  color:aquamarine;
  
}

.admindiv_2__ul{
  font-family: Montserrat-SemiBold;
  margin-left: 3%;
  margin-top: 5%;
  color:rgb(244,244,244);
  cursor: default;
  font-size: 14px;
}

.admindiv_2__edits {
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  margin: 0% 0 2% 5%;
  text-align: center;
  text-decoration: underline;

}

.admindiv_2__edits span {
  cursor: pointer;
  transition: 200ms;
}

.admindiv_2__edits span:hover {
  transition: 200ms;
  color:rgb(218, 173, 83);
  font-size: 15px;
  
}
.adminspan1 {
color: rgb(218, 173, 83);
}