.personalCard{
  display: flex;
  flex-direction: column;

}

.PersonalCard_main {
  display: flex;
  flex-direction: row;
  height: 100%;
 /* background-color:black;*/
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 2rem;
  background-color:rgb(0, 0, 0,0.5);
	
  background-attachment:none ;

  &.hide{
    display: none;
  }
}

.cancel{
  color: rgb(192,19,39);
  margin-top: 1%;
  margin-left: 4%;
  cursor: pointer;
  width: 2%;
  font-family: Montserrat-SemiBold;
}

.div_1{
  height: 590px;
  width: 50%;
  background-color:rgb(83,159,97);
  background-color:rgb(0, 0, 0);
  background-color:rgb(159, 131, 83);
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: -3%;
  margin-top: 1%;
  border-radius: 50px;
}

.div_1__Avatar{
  border: 1px solid white;
  margin:  auto ;
  margin-top: 30%;
  width: 23.3mm;
  height: 31mm;
  object-fit: cover;

}

.div_1__FIO{
  color: White;
  text-align: center;
  font-family: Montserrat-SemiBold;
  font-size: 16px;
}

.div_2{
  height: 590px;
  width: 50%;
  background-color:rgb(83,159,97);
  background-color:rgb(189, 155, 97)rgb(189, 155, 97);
   background-color:black; 
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-radius: 50px;
  margin-bottom: 3%;
  margin-right: 5%;
  margin-left: -3%;
  margin-top: 1%;
  
}

.div_2__ul{
  font-family: Montserrat-SemiBold;
  margin-left: 3%;
  margin-top: 5%;
  color:rgb(244,244,244);
}

.span1 {
color: rgb(159, 131, 83);
}