.registration {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 0 0 1%;
  padding: 0 2% 2% 2%;
  backdrop-filter: blur(2px);
 /* border: 1px solid red; */
 background-color: rgba(200, 200, 200, 0.435);
}

.file {
  font-size: 12px;
}

.Img_Fio {
  display: flex;
  flex-direction: row;
  justify-content: start;
  
 /* border: 1px solid red;*/
}

.Img_Fio_SexBirthday{
  display: flex;
  flex-direction: row;
  width: 22%;
  margin-left: 1%;
  /* border: 1px solid green; */
}

.Img_Fio_LoginRule{
  display: flex;
  flex-direction: column;
  width: 65%;
}

.password-control {
  position: relative;
  top: -30px;
  left: 90%;
	width: 20px;
	height: 20px;
	background-image: url('../icons/eye.png');
}
.password-control.view {
	background: url(../icons/question.png) 0 0 no-repeat;
}

.reg__input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: calc(1.8rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg__input:focus {
  color: #212529;
  background-color: #fff;
  outline-color: #606060;
 /* box-shadow: 0 0 0 0.2rem rgba(39, 39, 39, 0.25);*/
}

label {
  width: 120%;
  font-size: 14px; /*либо на 16px*/
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.Fio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;
  width: 100%;
  margin-top: 2%;
 /* border: 1px solid blue;*/
}

.SexBirthday{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  
  width: 54%;
  margin-top: 2%;
  margin-left: 5%;
 /* border: 1px solid yellow;*/
}

.Places {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  width: 80%;
  margin-top: 1%;
 /* border: 1px solid green;*/
}

.Social{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: space-between;
  width: 80%;
  margin-top: 1%;
  
}

.Statusts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  width: 80%;
  margin-top: 1%;
}

.NumBlietVznos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  width: 40%;
  margin-top: 1%;
}

.StatusPartya{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: start;
  width: 80%;
  margin-top: 1%;
}

.Jobs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  width: 70%;
  margin-top: 1%;
}

.Address{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  width: 70%;
  margin-top: 1%;
}

.reg__form_input_img{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 3%;
  padding: 0;
}

.reg__form_input_fio{
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-top: 1%;
  border-color: #bdbdba;
 /* border: 1px solid green;*/
}

.reg__form_input_numBilet{
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-top: 1%;
  border-color: #bdbdba;
}


.oper_reg__form_input_Vznos{
  width: 70% ;
  display: flex;
  flex-direction: row;
  padding-top: 0;
  margin-top: 1%;
  border-color: #bdbdba;
}
.oper_reg__form_input_Vznos .month{
  width: 50%;
 }
.oper_reg__form_input_Vznos .year{
  width: 40%;
 margin-left: 10%;
}

.reg__form_input_jobs{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-top: 1%;
  border-color: #bdbdba;
 /* border: 1px solid green;*/
}

.reg__form_input_jobsAddress{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-top: 1%;
  border-color: #bdbdba;
  margin-left: 5%;
 /* border: 1px solid green;*/
}

.reg__form_input_combobox__sex{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  padding-top: 0;
  margin-top: 1%;
}

.reg__form_input_combobox__places{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  padding-top: 0;
  margin-top: 1%;
}

.reg__form_input_combobox__social{
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  padding-top: 0;
  margin-top: 1%;
}

.reg__form_input_combobox__placesYchet{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  padding-top: 0;
  margin-top: 1%;
  margin-left: 5%;
}

.reg__form_input_combobox__deputat{
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  padding-top: 0;
  margin-top: 1%;
  margin-left: 5%;
}

.reg__form_input_number{
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin-top: 2%;
  border-color: #bdbdba;
}

.registration select {
  outline: auto;
  width: 100%;
  outline-color: #bdbdba;
  height: calc(1.8rem + 2px);
  padding: 0.2rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg__form_input_dateBirthday {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  padding-top: 0;
  margin-top: 2%;
  
}

.reg__form_input_dateBirthday input[type=date]{
  outline: auto;
  outline-color: #bdbdba;
  width: 100%;
  height: calc(1.8rem + 2px);
  padding: 0.375rem 0.6rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg__form_input_date {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  padding-top: 0;
  margin-top: 1%;
  margin-left: 2%;
}

.reg__form_input_date input[type=date]{
  outline: auto;
  outline-color: #bdbdba;
  width: 100%;
  height: calc(1.8rem + 2px);
  padding: 0.375rem 0.6rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reg__form__adminpage_label_vznos{
  padding-top: 1%;
  margin-left: 13%;
}

.reg__form_input_Vznos_system .month{
  width: 90%;
  margin-top: 3%;
  margin-left: 13%;
}
.reg__form_input_Vznos_system .year{
  width: 90%;
  margin-top: 3%;
  margin-left: 13%;
}


/* .reg__form_input_Vznos input[type=month]{
  width: 90%;
  height: calc(1.8rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
    color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */


.reg__Button{
  background-color:rgba(218, 173, 83, 0.746);
  width: 15%;
  border-radius: 8px;
  margin: auto;
  margin-top: 2%;
  text-align: center;
  transition: 50ms;
}

.reg__Button:active {
  box-shadow:0px 0px 2px 1px black;
    opacity: 1;
    transition: 50ms;
}
  
@-moz-document url-prefix() {
  .oper_reg__form_input_Vznos{
    margin-bottom: 5%;
  }
  .reg__form_input_combobox__social{
    margin-bottom: 3%;
  }
  #mozilla_placesYchet{
    margin-bottom: 3%;
  }
  .reg__form_input_dateBirthday input[type=date]
  {
    padding-left: 3%;
  }
  .reg__form_input_date input[type=date]
  {
    padding-left: 3%;
  }
  .NumBlietVznos{
    margin-bottom: 3%;
  }
}

