@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../src/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Noto sans;
  src: url("../src/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: Noto sans-italic;
  src: url("../src/fonts/NotoSans-Italic.ttf");
}

@font-face {
  font-family: NeueMachina-Bold;
  src: url("../src/fonts/NeueMachina-Bold.ttf");
}